<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
</head>
<body>
<div class="container">
<div>
	Welcome!!!!
</div>
<div class="form">
	<form class="form-group" role="form" action="/secret" method="post">
		<div class="form-title">
			Registration 
		</div>
		<div class="form-login">
			<input type="text" class="form-control" name="login" placeholder="Input name" required="">
		</div>
		<div class="form-pass">
			<input type="password" class="form-control" name="Input password" placeholder="Input password" required="">
		</div>
		<div class="form-email">
			<input type="text" class="form-control" name="Input email" placeholder="Input email" required="">
		</div>
		<div class="button">
		<button type="submit" class="btn-control">Signup</button>
		</div>
	</form>
</div>

</div>
</body>
</html>